.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.calendarTitle {
  font-weight: 500;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.23;
  }
}

.calendarPagination {
  display: flex;
  align-items: center;
  align-items: center;
  gap: 12px;
}

.calendarButton {
  background: none;
  padding: 0;
  color: var(--primary-color-blue);
}

.calendarButton:disabled {
  color: var(--secondary-color-2);
}

.icon {
  background: transparent;
  fill: none;
  stroke: currentColor;
}

.calendarDate {
  line-height: 1.25;
  text-align: center;
  color: var(--primary-color-blue);
  margin: 0px;
}

.dayList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px 26px;
  max-width: 264px;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(10, 1fr);
    max-width: 656px;
    gap: 20px 34px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 544px;
    gap: 20px 22px;
  }
}

.dayItem:last-child {
  margin-left: 0;
}

.dayItem {
  position: relative;
  overflow: hidden;
}

.day {
  font-family: var(--font-robotoy);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  color: var(--primary-color-black);
  background-color: var(--primary-color-white);
  border-radius: 20px;
  border: 0px solid;
  text-align: center;

  padding: 7px;
  width: 32px;
  margin-bottom: 4px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  dayItem:hover &::before,
  dayItem:focus &::before {
    opacity: 1;
    transform: translateY(0);
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.day:hover {
  box-shadow: 0 2px 4px 0 rgba(64, 123, 255, 0.3);
}

.day:disabled {
  color: rgb(195, 194, 194);
}

.percentage {
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
  color: var(--secondary-color-4);
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 13px;
    line-height: 1.54;
  }

  @media screen and (min-width: 1440px) {
    font-size: 12px;
    line-height: 1.5;
  }
}

.dayAction {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  margin: 0;
  color: var(--white-color);
  padding: 12px 0px;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dayAction:hover,
.dayAction:focus {
  opacity: 1;
  transform: translateY(0);
}

/* .calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.calendarTitle {
  font-weight: 500;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.23;
  }
}

.calendarPagination {
  display: flex;
}

.calendarButton {
  background: none;
  padding: 0;
  margin-right: 12px;
  color: var(--primary-color-blue);
}

.calendarButton:disabled {
  color: var(--secondary-color-2);
}

.icon {
  background: transparent;
  fill: none;
  stroke: currentColor;
  width: 14px;
  height: 14px;
}

.calendarDate {
  line-height: 1.25;
  text-align: center;
  color: var(--primary-color-blue);
  margin: 0px;
  margin-right: 12px;
}

.dayList {
  display: flex;
  max-width: 290px;
  flex-wrap: wrap;
  margin-left: -26px;

  @media screen and (min-width: 768px) {
    max-width: 690px;
    margin-left: -34px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 566px;
    margin-left: -22px;
  }
}

.dayItem {
  position: relative;
  overflow: hidden;

  margin-left: 26px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-left: 34px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 22px;
  }
}

.day {
  font-family: var(--font-robotoy);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  color: var(--primary-color-black);
  background-color: var(--primary-color-white);
  border-radius: 20px;
  border: 0px solid;
  text-align: center;

  padding: 7px;
  width: 32px;
  margin-bottom: 4px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  dayItem:hover &::before,
  dayItem:focus &::before {
    opacity: 1;
    transform: translateY(0);
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.day:hover {
  box-shadow: 0 2px 4px 0 rgba(64, 123, 255, 0.3);
}

.day:disabled {
  color: rgb(195, 194, 194);
}

.percentage {
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
  color: var(--secondary-color-4);
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 13px;
    line-height: 1.54;
  }

  @media screen and (min-width: 1440px) {
    font-size: 12px;
    line-height: 1.5;
  }
}

.dayAction {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  margin: 0;
  color: var(--white-color);
  padding: 12px 0px;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dayAction:hover,
.dayAction:focus {
  opacity: 1;
  transform: translateY(0);
} */
