.container {
  border-radius: 10px;
  padding: 24px 16px;
  width: 280px;
  height: 416px;
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
  background: var(--primary-color-white);
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--primary-color-black);

  margin-bottom: 12px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color-black);
}

.item::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary-color-blue);
  flex-shrink: 0;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px 24px;
    width: 494px;
    height: 326px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    height: 332px;
    margin-left: 0;
  }
}
