
.authBtn{
border: none;
box-shadow: none;
color:  var(--primary-color-blue);
}

.authBtn:hover{
    box-shadow: none;
    color:var(--secondary-color-5);
  .icon{
    stroke: var(--secondary-color-5);
}
}

.icon{
background: transparent;
fill: none;
stroke: var( --primary-color-black);
}

