.text {
  margin: 0;
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    background-image: url("../../images/background/tablet/Background-tab-signup.webp");
    background-repeat: no-repeat;
  }
  .text {
    padding-top: 40px;
  }
}
