.modal {
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 592px;
    width: 100%;
  }
}

.dataWrapper {
  display: flex;
  flex-direction: row;
}
.label {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #2f2f2f;
  margin-top: 16px;
}

.input {
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  padding: 12px 10px;
  width: 280px;
  height: 44px;
  margin-top: 8px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 125%;
  color: #407bff;
}
.input:active {
  border: 1px solid #d7e3ff;
}
.input:focus {
  border: 1px solid #d7e3ff;
}

.inputError {
  border-color: #ef5050;
  color: #ef5050;
}

::placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  /* color: #9ebbff; */
}

.text {
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  margin: 0;
}

.passwordWrapper {
  position: relative;
}

.eyeButton {
  position: absolute;
  transform: translateY(110%);
  background: none;
  border: none;
  cursor: pointer;
}

.eye {
  width: 16px;
  height: 16px;
}

/* .avatarContainer {
  text-align: center;
} */

.avatarLabel {
  cursor: pointer;
}

.avatarAndTextWrapper {
  display: flex;
  flex-direction: row;
}

.avatarWrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9ebbff; /* Колір фону, якщо немає аватара */
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.emptyAvatar {
  font-size: 64px;
  font-weight: bold;
  color: #ffffff;
}

.uploadText {
  color: #007bff;
}

.fileInput {
  display: none;
}

.icon {
  background: transparent;
  fill: none;
  stroke: var(--primary-color-blue);
}

@media screen and (min-width: 1440px) {
  .form {
    width: 384px;
  }
}
