.blockInfo {
  padding-bottom: 12px;
  display: flex;
  margin-right: 4px;
  align-items: center;
  border-bottom: 1px solid #d7e3ff;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.blockInfoAmount {
  font-size: 18px;
  line-height: 133%;
  color: var(--primary-color-blue);
}

.blockInfoTime {
  font-size: 12px;
  line-height: 200%;
  color: var(--primary-color-black);
}

.editIcon {
  fill: none;
  stroke: var(--secondary-color-4);
  background: none;
  padding: 0;
}

.deleteIcon {
  fill: none;
  stroke: var(--secondary-color-3);
  background: none;
  padding: 0;
}

.buttons {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  gap: 18px;
}
