.headerContainer {
  height: 48px;

  padding: 8px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.boxItem {
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header button {
  background-color: var(--primary-color-white);
}

.buttonSvg {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .headerContainer {
    width: 100%;
  }
}
