.headerContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 8px;
}

.header {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 320px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxItem {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonSvg {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    padding-top: 16px;
  }

  .header {
    max-width: 768px;
    padding: 0 32px;
  }
  .boxItem {
    width: 92%;
  }
}

@media screen and (min-width: 1440px) {
  .boxItem {
    width: 90%;
  }
  .headerContainer {
    padding-top: 12px;
  }

  .header {
    max-width: 1440px;
    padding: 0 112px;
  }
}
.themeToggle {
  background-color: inherit;
}
