.background {
  min-height: 100vh;
  min-width: 320px;
  background-image: url("../../images/homePage/Background-Home-screen-1x-mob.webp");
  background-position: center 108px;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.container {
  padding: 8px 20px;
  margin: 0 auto;
  max-width: 320px;
 }

@media screen and (min-width: 768px) {
  .background {
    background-image: url("../../images/homePage/Background-Home-screen-1x-tab.webp");
    min-width: 768px;
    background-position: center 88px;
  }

  .container {
    max-width: 768px;
    padding: 16px 32px;
    
  }
}

@media screen and (min-width: 1440px) {
  .background {
    background-image: url("../../images/homePage/Background-Home-screen-1x-desktop.webp");
    min-width: 1440px;
    min-height: 800px;
    background-position: center 64px;
  }

  .container {
    min-width: 1440px;
    padding: 12px 112px;
    margin: 0;
  }
}
