.background {
  background-image: url("../../images/background/mobile/welcome-bckg-mob.svg");
  background-color: coral;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  min-height: 952px;
}

.section {
  padding: 8px 20px;
  margin: 0 auto;
  max-width: 320px;

  padding-top: 24px;
  flex-wrap: nowrap;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 320px) {
  .background {
    background-color: coral;
    min-height: 800px;
  }

  .section {}
}

@media screen and (min-width: 768px) {
  .background {
    background-image: url("../../images/background/tablet/welcome-bckg-tab.svg");
    background-position: bottom;
    background-size: cover;
  }

  .section {
    max-width: 768px;
    padding: 16px 32px;

    flex-direction: column;
    gap: 60px;
    padding-top: 40px;
    height: 746px;
  }
}

@media screen and (min-width: 1440px) {
  .background {
    background-image: url("../../images/background/desktop/welcome-bckg-dsk.svg");
    background-position: bottom;
    background-size: contain;
  }

  .section {
    min-width: 1440px;
    padding: 12px 112px;

    gap: 81px;
    padding-top: 80px;
    padding-left: 104px;
  }

  .layer {
    background-image: url("../../images/background/desktop/welcome-layer-dsk.svg");
    background-position: center;
    background-size: contain;
    height: 100vh;
  }

  .wrapper {
    display: flex;
    align-items: flex-end;
    width: 80px;
    flex-direction: row;
    gap: 81px;
  }
}






/* .section {
  padding-top: 24px;
  flex-wrap: nowrap;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-resolution: 192dpi) and (min-width: 320px) {
  .section {
    background-image: url("../../images/background/mobile/Background-mobile-2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .section {
    background-image: url("../../images/background/tablet/Background-tab-1x.webp");
    flex-direction: column;
    gap: 60px;
    padding-top: 40px;
    height: 746px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .section {
      background-image: url("../../images/background/tablet/Background-tab-2x.webp");
    }
  }
}

@media screen and (min-width: 1440px) {
  .section {
    background-image: url("../../images/background/desktop/Background-desktop-1x.webp");
    background-position: bottom;
    gap: 81px;
    background-size: auto;
    height: 740px;
    padding-top: 80px;
    padding-left: 104px;
  }

  .wrapper {
    display: flex;
    align-items: flex-end;
    width: 80px;
    flex-direction: row;
    gap: 81px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1440px) {
    .section {
      background-image: url("../../images/background/desktop/Background-desktop-2x.webp");
    }
  }
}
 */