.background {
  /* background-image: url("../../images/background/mobile/welcome-bckg-mob.svg"); */
  background-image: var(--welcome-bckg-mob);

  /* --welcome-bckg-dsk */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}

.section {
  margin: 0 auto;
  flex-wrap: nowrap;
  align-items: center;
  padding: 80px 20px 496px 20px;
  max-width: 320px;
  min-height: 952px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .background {
    /* background-image: url("../../images/background/tablet/welcome-bckg-tab.svg"); */
    background-image: var(--welcome-bckg-tab);
    background-position: bottom;
    background-size: cover;
  }

  .section {
    max-width: 768px;
    padding: 140px 32px 0 32px;

    flex-direction: column;
    gap: 60px;
    min-height: 800px;
  }
}

@media screen and (min-width: 1440px) {
  .background {
    /* background-image: url("../../images/background/desktop/welcome-bckg-dsk.svg"); */
    background-image: var(--welcome-bckg-dsk);
    background-position: bottom;
    background-size: contain;
  }

  .section {
    min-width: 1440px;
    padding: 140px 210px 0 216px;
    gap: 81px;
  }

  .layer {
    /* background-image: url("../../images/background/desktop/welcome-layer-dsk.svg"); */

    background-image: var(--welcome-layer-dsk);
    background-position: center;
    background-size: contain;
  }

  .wrapper {
    display: flex;
    align-items: flex-end;
    width: 80px;
    flex-direction: row;
    gap: 81px;
  }
}
