body {
  background-color: var(--primary-color-white);
  color: var(--primary-color-black); /* Это задаёт цвет текста */
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход */
}

/* [data-theme="dark"] body {
  background-color: var(--primary-color-white);
  color: var(--primary-color-white);
} */
