.wrap {
  margin-bottom: 15px;
}

.section {
  margin: 0 auto;
  flex-wrap: nowrap;
  align-items: center;
  padding: 80px 20px 496px 20px;
  max-width: 320px;
  min-height: 952px;
}

.norma {
  padding-top: 24px;
  padding-bottom: 8px;
  width: 100%;
  height: 100%;
}

.image {
  background-image: var(--bottle-home-1x-mob);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 280px;
  height: 208px;
}

.WaterRatioPanel {
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
}

.todayWaterGlassList {
  padding-bottom: 48px;
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px) {
  .image {
    background-image: var(--bottle-home-2x-mob);
  }
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
    padding: 140px 32px 0 32px;

    flex-direction: column;
    gap: 60px;
    min-height: 800px;
  }
  .norma {
    padding-top: 24px;
    padding-bottom: 8px;
    width: 100%;
    height: 100%;
  }

  .image {
    background-image: var(--bottle-home-2x-tab);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 518px;
    height: 386px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .image {
    background-image: var(--bottle-home-2x-tab);
  }
}

@media screen and (min-width: 1440px) {
  .section {
    display: flex;
    flex-direction: row;
    gap: 32px;
    /* padding-top: 20px; */
    min-width: 1440px;
    padding: 68px 112px;
  }

  .wrap {
    display: flex;
    flex-direction: column;
  }

  .norma {
    width: 164px;
    height: 79px;
    padding-top: 13px;
  }

  .image {
    background-image: var(--bottle-home-2x-desktop);
    background-repeat: no-repeat;
    background-size: cover;
    width: 592px;
    height: 548px;
  }

  .WaterRatioPanel {
    width: 592px;
    height: 90px;
  }

  .todayWaterGlassList {
    padding-bottom: 0;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .image {
    background-image: var(--bottle-home-2x-desktop);
  }
}
