.container {
  min-height: 100vh;
  width: 320px;
  background-image: url("../../images/background/mobile/Background-mobile-3x.webp");
  background-position: center 52px;
  background-size: cover;
  background-repeat: no-repeat;
}

.background {
  height: 608px;
  background-image: url("../../images/bottle/mobile/Bottle-SignUp-mob.svg");
 background-size: 280px 210px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 66px;
}



@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    /* height: 548px; */
    background-image: url("../../images/background/tablet/Background-tab-signup.webp");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .background {
    background-image: url("../../images/bottle/tablet/Bottle-SignUp-tablet.svg");
    background-size: 706px 548px;
    background-position: 90px center;
  }
  
}
@media screen and (min-width: 1440px) {
  
  .container {
    width: 1440px;
    height: 800px;
    background-image: url("../../images//background/desktop/Desktop-layer-1x.webp");
    background-repeat: no-repeat;
    background-position: top left;
  }
  .background {
    padding-top: 20px;
    height: 700px;
    background-image: url("../../images/bottle/desktop/Bottle-SignUp-desktop.svg");
    background-size: 916px 680px;
    background-position: -51px center;
  }
  .box {
    padding-top: 120px;
    padding-left: 728px;
  }
  
}
